extends ../layout

block content
  .page-header
    h3 Login
  section#contact
    .container
      .row
        .col-lg-8.col-lg-offset-2
          form#contactForm(name='sentMessage', novalidate='',method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .row.control-group
              .form-group.col-xs-12.floating-label-form-group.controls
                label Email Address
                input#email.form-control(type='email', placeholder='Email Address', name='email', autofocus, required='', data-validation-required-message='Please enter your email address.')
                p.help-block.text-danger
            .row.control-group
              .form-group.col-xs-12.floating-label-form-group.controls
                label Password
                input#name.form-control(type='password', placeholder='Password', name='password', required='', data-validation-required-message='Please enter your password.')
                p.help-block.text-danger
                br
                .row
                  .form-group.col-xs-12
                    button.btn.btn-primary(type='submit') Login
                    a.btn.btn-link(href='/forgot') Forgot Password?
