nav#mainNav.navbar.navbar-default.navbar-fixed-top.navbar-custom
  .container
    .navbar-header.page-scroll
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        |  Menu
        i.fa.fa-bars
      a.navbar-brand(href='/') Start Bootstrap

    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      if !user
        ul.nav.navbar-nav.navbar-right
          li.page-scroll
            a(href='/signup') Sign Up
          li.page-scroll
            a(href='/login') Login
      else
        ul.nav.navbar-nav.navbar-right
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | #{user.profile.name || user.email || user.id}&nbsp;
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li.divider
              li
                a(href='/logout') Logout
      if user
        ul.nav.navbar-nav.navbar-left
          li.dropdown(class=(title == 'Operators') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown') Missions
              ul.dropdown-menu
                li(class=(title == 'Contact') ? 'active' : undefined)
                  a(href='/contact') Add Missions
                li.divider
                li
                  a(href='/missionsdt') View missions
                li.divider
                li
                  a(href='/userfinishedmissions') My Completed Missions
      if user && user.profile.role == 'Operator'
        ul.nav.navbar-nav.navbar-left
          li.dropdown(class=(title == 'Operators') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown') Operator Dashboard
              ul.dropdown-menu
                li
                  a(href='/add-drone') Add Drone
                li.divider
                li
                  a(href='manage-drones') Manage Drones
                li.divider
                li
                  a(href='operatormissions') Select Missions
                li.divider
                li
                  a(href='acceptedmissions') Accepted Missions
                li.divider
                li
                  a(href='finishedmissions') Completed Missions
