extends layout

block content
  .page-header
    h3 Accepted Missions
  body
    table#acceptedmissionsgrid.display(cellspacing='0', width='100%')
      thead
        tr
          th User Email
          th Mission Type
          th Mission Description
          th Date and Time
          th Mission Budget
          th Status
          th Download Mission file
          th operator
          th Complete Mission
      tfoot
        tr
          th User Email
          th Mission Type
          th Mission Description
          th Date and Time
          th Mission Budget
          th Status
          th Download Mission file
          th operator
          th Complete Mission




  input(type='hidden', name='_csrf', id='_csrf',value=_csrf)

  #fileOnlyLabel.modal.fade(tabindex='-1', role='dialog', aria-labelledby='fileOnly')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button',data-dismiss='modal',aria-label='Close')
            span(aria-hidden='true') x
          h4#fileOnly.modal-title Complete Mission
          .modal-body
            form.form-horizontal(name='uploadForm', role='form', enctype='multipart/form-data', method='POST')
              input(type='hidden', name='_csrf', id='_csrf',value=_csrf)
              .form-group
                label(class='col-sm-2 control-label', for='myFile' ) Upload results:
                .col-sm-8
                  input.form-control(type='file', name='myFile', id='myFile' required)
                  .modal-footer
                    button.btn.btn-primary(type='submit') Submit
