extends layout

block content
  .page-header
    h3 New Mission

  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-2 control-label', for='missiontype') Mission Type
      .col-sm-5
        select.form-control(type='text', name='missiontype', id='missiontype', autofocus=true)
          option(value='Video Recording') Video Recording
          option(value='Photographs') Photographs
          option(value='Object Point Cloud') Object Point Cloud
          option(value='Orthophoto') Orthophoto
          option(value='Count objects') Count Objects
    .form-group
      label(class='col-sm-2 control-label', for='missiondesc') Mission Description
      .col-sm-5
        textarea.form-control(rows='7',type='text', name='missiondesc', id='missiondesc')
    .form-group
      label(class='col-sm-2 control-label', for='missiondate') Date
      .col-sm-3
        input.form-control(name='missiondate', id='missiondate',  type="date")
    .form-group
      label(class='col-sm-2 control-label', for='budget') Budget (in Rands)
      .col-sm-2
        input.form-control(type='number', name='budget', id='budget', min=0)



    .form-group
      label(class='col-sm-2 control-label', for='budget') Surveilance Area
      .col-sm-8
        div.form-control.input-lg(name='map', id='map' style='height:20em')
        #waypointData.col-sm-2


    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary(type='submit')
          | Submit

script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAWiEnhMjv7lLDyaoiwIHwEVYoMRN4nYKY&libraries=drawing')
  script(src='../public/js/main.js')
