extends layout

block content
  .page-header
    h3 New Mission

  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-2 control-label', for='name') Mission Type
      .col-sm-8
        select.form-control(type='text', name='missiontype', id='missiontype', autofocus=true)
          option(value='Video Recording') Video Recording
          option(value='Photograph Surveilance') Photograph Surveilance
          option(value='Object Point Cloud') object Point Cloud
          option(value='Orthophoto') Orthophoto
          option(value='Count objects') Count Objects
    .form-group
      label(class='col-sm-2 control-label', for='email') Mission Description
      .col-sm-8
        textarea.form-control(rows='7',type='text', name='missiondesc', id='missiondesc')
    .form-group
      label(class='col-sm-2 control-label', for='message') date/time
      .col-sm-8
        input.form-control(name='missiondate', id='missiondate',  type="datetime-local"  )
    .form-group
      label(class='col-sm-2 control-label', for='email') Budget
      .col-sm-8
        input.form-control(type='text', name='budget', id='budget')
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary(type='submit')
          | Submit
