header(style='height:600px;')
  .container
    .row
      .col-lg-12
        img(src='flying-drones.jpg',style='border-radius:50%;width:300px;height:300px;position:relative;top:-80px;')
        .intro-text
          img.img-responsive(src='DRONR-01.svg', alt='',style='width:500px;height:500px;position:relative;top:-260px;')

section#about(style='position:relative;top:-390px;')
  .container
    .row
      .col-lg-12.text-center
        h2 About
        hr.star-primary
    .row
      .col-lg-4.col-lg-offset-2
        p
          | Paragraph
      .col-lg-4
        p
          | Paragraph
