header(style='height:600px;')
  .container
    .row
      .col-lg-12
        img(src='flying-drones.jpg',style='border-radius:50%;width:300px;height:300px;position:relative;top:-80px;')
        .intro-text
          img.img-responsive(src='DRONR-01.svg', alt='',style='width:500px;height:500px;position:relative;top:-260px;')

section#about(style='position:relative;top:-390px;')
  .container
    .row
      .col-lg-12.text-center
        h2 About
        hr.star-primary
    .row
      .col-lg-4.col-lg-offset-2
        p
          | Dronr, is an online drone mission control system. It brings together people who require the services of drones with those who own drones and know how to operate them.
      .col-lg-4
        p
          | Drone operators are able to add information about their drone to the system and those that require a drone service are able to describe a mission that they would like a drone to perform, and that mission is then performed by the drone autonomously and sends back the information from the surveillance to the operator and the user.
