header(style='height:600px;')
  .container
    .row
      .col-lg-12
        img(src='flying-drones.jpg',style='border-radius:50%;width:300px;height:300px;position:relative;top:-80px;')
        .intro-text
          img.img-responsive(src='DRONR-01.svg', alt='',id="thisHeader",style='width:500px;height:500px;position:relative;top:-260px;')

section#about(style='position:relative;top:-330px;height:400px;')
  .container
    .row
      .col-lg-12.text-center
        h2 About
        hr.star-primary
    .row
      .col-lg-4.col-lg-offset-2
        p
          | Dronr, is an online drone mission control system. It brings together people who require the services of drones with those who own drones and know how to operate them.
      .col-lg-4
        p
          | Drone operators are able to add information about their drone to the system and those that require a drone service are able to describe a mission that they would like a drone to perform, and that mission is then performed by the drone autonomously and sends back the information from the surveillance to the operator and the user.

section#portfolio(style='height:500px;position:relative;top:-220px;')
  .container
    .row
      .col-lg-12.text-center
        h2 Previous Missions
        hr.star-primary
    .row
      .col-sm-2
      .col-sm-5
        iframe(width='350px', height='300px', volume='0',src='https://www.youtube.com/embed/Nwc1l9n9E_o?autoplay=1&loop=1&autohide=1&showinfo=0&modestbranding=1&playlist=Nwc1l9n9E_o&controls=0')
      .col-sm-5
        iframe(width='350px', height='300px', volume='0',src='https://www.youtube.com/embed/7NJs0ZJeNQg?autoplay=1&loop=1&autohide=1&showinfo=0&modestbranding=1&playlist=7NJs0ZJeNQg&controls=0')
