extends layout


block content
  input(type='hidden', name='_csrf', id='_csrf',value=_csrf)
  
  #holder
    .video-wrap
      .player(data-property="{videoURL:'https://youtu.be/PmYK-i8EKuU',containment:'#holder'}")
      .youtube-overlay
        .col-md-4
          .intro-section
            h1.intro.hs9-h1.text-black
              | DRONR
