extends layout

block content
  .page-header
    h3 Manage Drones

  .container
  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    table.table.table-striped
      thead
        tr
          th My Drones
      tbody
      .form-group
        for drone in drones
          if drone.fUser == user.email
            tr
              td= drone.fManuc + " " + drone.fModel
//        button.btn.btn-primary.btn-sm(type='submit') Edit
//        button.btn.btn-primary.btn-sm(type='button', data-toggle='modal', data-target='#dltModal' onclick='setDrone()') Delete
//
    #dltModal.modal.fade(role='dialog')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') &times;
            h4.modal-title Confirm delete
          .modal-body
            p Are you sure you want to delete this drone?
          .modal-footer
            button.btn.btn-primary.btn-sm(type='button', data-dismiss='modal') Close
            button.btn.btn-danger(type='button', data-dismiss='modal' onclick='deleteDrone()') Delete
