html
  head
    meta(name='csrf-token', content=_csrf)
    title Manage Drones
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css')
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css')

  body
    input(type='hidden', name='_csrf', id='_csrf',value=_csrf)
    table#operatordronesTable.display(cellspacing='0', width='100%')
      thead
        tr
          th Manufacturer
          th Model
          th Owner
          th Delete
          th Edit
      tfoot
        tr
          th Manufacturer
          th Model
          th Owner
          th Delete
          th Edit

  | &#x9;
  script(type='text/javascript', src='https://code.jquery.com/jquery-1.12.3.js')
  | &#x9;
  script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  script(type='text/javascript', src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js')
  script(type='text/javascript', src='https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js')
  script(src='/js/main.js')
