
extends layout

block content
  .page-header
    h3 Manage Drones

  .container

    button.btn.btn-primary.btn-sm(type='button') Delete
    table.table.table-striped
      thead
        tr
          th Drone
      tbody

    ul
      for tmp in docs
        li #{tmp.fModel}
