<!DOCTYPE html>
<html>
	<head>
		<title>DT test for dronr</title>
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	</head>
	<body>
		
		<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>_id</th>
                <th>userID</th>
                <th>mtype</th>
                <th>mdesc</th>
                <th>mdatetime</th>
                <th>mbudget</th>
               	<th>__v</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>_id</th>
                <th>userID</th>
                <th>mtype</th>
                <th>mdesc</th>
                <th>mdatetime</th>
                <th>mbudget</th>
               	<th>__v</th>
            </tr>
        </tfoot>
    	</table>

	</body>

	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="../public/js/mainTest.js"></script>
</html>