doctype html
html
  head
  meta(name='csrf-token', content=_csrf)
    title DT test for dronr
    | &#x9;&#x9;
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css')
  | &#x9;
  body
    table#example.display(cellspacing='0', width='100%')
      thead
        tr             
          th User Email
          |                 
          th mtype
          |                 
          th mdesc
          |                 
          th mdatetime
          |                 
          th mbudget
          |                &#x9;
          th _id
          |   
          th edit      
      tfoot
        tr            
          th User Email
          |                 
          th mtype
          |                 
          th mdesc
          |                 
          th mdatetime
          |                 
          th mbudget
          |                &#x9;
          th _id
          |   
          th edit  

  | 

  | &#x9;
  script(type='text/javascript', src='https://code.jquery.com/jquery-1.12.3.js')
  | &#x9;
  script(type='text/javascript', src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js')
script(src='/js/main.js')
