extends layout

block content
  .page-header
    h3 My Completed Missions

  body
    table#exampleCrud2.display(cellspacing='0', width='100%')
      thead
        tr
          th User Email
          th Mission Type
          th Mission Description
          th Date and Time
          th Mission Cost
          th Comments
          th Results File
          th Status
          th Mission Operator
      tfoot
        tr
          th User Email
          th Mission Type
          th Mission Description
          th Date and Time
          th Mission Cost
          th Comments
          th Results File
          th Status
          th Mission Operator
