<section>
  <div>
        <img alt="drone" id="dronePic" class="img-responsive text-center" src="modules/core/client/img/brand/dronr.jpg" />
  </div>
  <div>
    <h1 class="text-center">Welcome to the future</h1>
  </div>
    <div class="row">
    <div class="col-md-3">
      <h2><strong>F</strong>eature</h2>
      <p>Blah blah blah</p>
    </div>
    <div class="col-md-3">
      <h2><strong>F</strong>eature</h2>
      <p>Blah blah blah</p>
    </div>
    <div class="col-md-3">
      <h2><strong>F</strong>eature</h2>
      <p>Blah blah blah</p>
    </div>
    <div class="col-md-3">
      <h2><strong>F</strong>eature</h2>
      <p>Blah blah blah</p>
    </div>
  </div>
</section>
