extends layout

block content
	.page-header
		h3 New Drone
		
	form.form-horizontal(method='POST')
		input(type='hidden', name='_csrf', value=_csrf)
		input(type='hidden', name='owner', value='#{user.email}')
		.form-group
			label(class='col-sm-2 control-label', for='manufac') Manufacturer:
			.col-sm-3
				input.form-control(type='text', name='manufac', id='manufac' required)
		.form-group
			label(class='col-sm-2 control-label', for='model') Model:
			.col-sm-3
				input.form-control(type='text', name='model', id='model' required)
		.form-group
			label(class='col-sm-2 control-label', for='flytime') Max Fly Time (Minutes):
			.col-sm-2
				input.form-control(type='text', name='flytime', id='flytime' required)
		.form-group
			label(class='col-sm-2 control-label') Capabilities:
			label(class='col-sm-2 control-label', for='aerial') Aerial Photography
				input(type='checkbox', name='aerial')
			label(class='col-sm-3 control-label') Video Recording
				input(type='checkbox', name='video')
			label(class='col-sm-3 control-label') Orthophoto
				input(type='checkbox', name='ortho')
		.form-group
			.col-sm-offset-2.col-sm-8
				button.btn.btn-primary(type='submit')
					| Submit