extends layout

block content
	.page-header
		h3 Manage Drones

	.container
		table.table.table-striped
			thead
				tr
					th Drone
			tbody
				tr
					td Eve
					|	     
					td Jackson 94
					|   
				tr
					td John
					|     
					td Doe 80
