doctype html
html
  head
  | 
  meta(name='csrf-token', content=_csrf)
  | &#x9;&#x9;
  title DT test for dronr
  | &#x9;&#x9;
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
  link(rel='stylesheet', href='https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css')
  link(rel='stylesheet', href='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css')

  | &#x9;
  body
    table#operatorgrid.display(cellspacing='0', width='100%')
      thead
        tr
          th User Email
          th Mission Type
          th Mission Description
          th Date and Time
          th Mission Budget
          th Accept
          th Status
      tfoot
        tr
          th User Email
          th Mission Type
          th Mission Description
          th Date and Time
          th Mission Budget
          th Accept
          th Status


  | 

  input(type='hidden', name='_csrf', id='_csrf',value=_csrf)


  #selectDrone.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#myModalLabel.modal-title Select drone
            .modal-body 
              table#selectDroneTable.display(cellspacing='0', width='100%')
                thead
                  tr
                    th Manufactor
                    th Model
                    th Select
                    th Owner
                tfoot
                  tr
                    th Manufactor
                    th Model
                    th Select
                    th Owner

            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close

  | &#x9;
  script(type='text/javascript', src='https://code.jquery.com/jquery-1.12.3.js')
  | &#x9;
  script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  script(type='text/javascript', src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js')
  script(type='text/javascript', src='https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js')
  script(src='/js/main.js')

